* {
	cursor:default;
}
body {
    background-color: #333 !important;
    color: #fff !important;
}

.usernameError {
	display:none;
}
.userList {
	max-height: 400px;
	overflow:auto;
}
.usersList .nav li {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 3px 10px;
	color: #333;
}
.usersList .nav .active {
	background-color: #428bca;
	color: #fff;
}
.usersList .nav .newMessage {
	background-color: #5bc0de;
	color: #fff;
}

.usersList ul li[username], #username, .sendMessage, .backToMainChat {
	cursor:pointer;
}
.chatbox {
	display:none;
}
.chat
{
	max-height: 400px;
	overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}
.chat .glyphicon
{
    margin-right: 5px;
}
.chatImage {
	width:50px;
	height:50px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	line-height: 50px;
	color:#fff;
	text-align:center;
	display:block;
}

.left .chatImage {
	background-color:#55c1e7;
}
.right .chatImage {
	background-color:#fa6f57;
}

.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.textMessage {
  overflow: auto;
  width: 100%;
}
.textMessage:after {
	clear:both;
}
.myChatMessage {
	float-right;
	background-color:#ccc;
}

.privateChat {
	display:none;
}
