* {
	margin:0;
	padding:0;
}
body {
	background:#000;
	color:#00ff00;
	font-family: monospace;
	font-size: 12px;
	cursor: default;
}
form {
	clear:both;
}
.wrapper {
	margin:10px auto;
	width:1000px;
}
.fillInUsername {
	margin:20px 0;

}
.chatbox {
	display:none;
}

.chat {
	float:left;
	width:800px;
	height:500px;
	border:1px solid #fff;
	margin-right: 10px;
	overflow:hidden;
}
.users {
	float:left;
	width:186px;
	height:500px;
	border:1px solid #ccc;
}

.usersList {
	float:left;
	width:186px;
	height:451px;
	overflow:auto;
}
.users > p {
  background-color: #ccc;
  height: 50px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 49px;
}
.chatUser.chatUserMe {
  background-color: #FF530D;
  color: #fff;
}

#username, 
#message {
	float:left;
	margin: 10px 0 10px 0;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border:1px solid #fff;
	height:20px;	
	width:678px;
	padding: 0 10px;
}
#enterChatbox,
#sendMessage {
	float:left;
	margin: 10px 0;
	border:1px solid #fff;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	height:22px;
}
#enterChatbox:hover,
#sendMessage:hover {
	cursor:pointer;
	background-color: #eee;
}
.chatUser {
	float:left;
	width:166px;
	height:14px;
	border-bottom:1px solid #fff;
	padding: 10px;
	line-height: 13px;
}
.textMessage {
	float:left;
	width:100%;
	height:20px;
	border-bottom:1px solid #fff;
	padding: 3px 10px 0;
}